/out/
/nbproject/project.xml
/nb-build.xml
/nbproject/
/src/main/resources/credentials.properties
/src/main/resources/deployments.properties
/dist/
/build/
/nbbuild.xml
/.gradle/
/.nb-gradle/
/.nb-gradle-properties
/.idea/
/.vscode

