services:
  mya:
    image: jeffersonlab/mycontainer:2.0.0
    hostname: mya
    container_name: mya
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password